<!-- login.component.html -->
<div class="login-card">
  <div class="logo-container">
    <div class="logo-container-inner">
      <div class="logo-inner">
        <!-- Reemplaza 'tu-imagen.png' con la ruta de tu imagen -->
        <img src="assets/images/rosaa.png" class="logo-image">
      </div>
    </div>
  </div>
  
  <h2>Bienbenido a Mundo Rosa</h2>
  
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Usuario</label>
      <input 
        type="email" 
        id="email" 
        name="email" 
        [(ngModel)]="email" 
        required
        placeholder="admin@rosa.com"
      >
    </div>
    
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input 
        type="password" 
        id="password" 
        name="password" 
        [(ngModel)]="password" 
        required
        placeholder="••••••••"
      >
    </div>
    
    <div *ngIf="error" class="error-message">
      <i class="fas fa-exclamation-circle"></i> {{ error }}
    </div>
    
    <button type="submit" [disabled]="loading" class="login-btn">
      <i class="fas fa-sign-in-alt" *ngIf="!loading"></i>
      {{ loading ? 'Iniciando sesión...' : 'Iniciar Sesión' }}
    </button>
  </form>
  
  <div class="forgot-password">
    <a href="#">
      <i class="fas fa-key"></i> ¿Olvidó su contraseña?
    </a>
  </div>
</div>